<div ng-controller="HomeCtrl">
<section class="component-hero-video">
    <div class="video-container">
        <div class="title-container">
            <div class="headline">
                  <h1>Hello there</h1>
            </div>
            <div class="description">
                <div class="inner">Flexitarian church-key freegan pabst twee shoreditch, leggings +1 letterpress fashion axe XOXO distillery.</div>
            </div>
        </div>
        <video autoplay loop class="fillWidth">
            <source src="./video/waves.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.</video>
        <div class="poster hidden">
            <!-- img src="http://www.videojs.com/img/poster.jpg" alt="" -->
        </div>
        <div class="bottom-center">
          <button class="scroll-next animated bounce">
          </button>  
        </div>      

    </div>
</section>

    <section class="container">

      <div ng-repeat="project in projects | limitTo: 3">
        <div class="col-xs-12 col-sm-6 col-md-4 repository-card-container">


    <div class="card">
          <!-- front card content -->
        <section class="repositoryCard front" style="background-image:url({{project.covers.original}});">
              <h1>{{project.name}}</h1>
        </section>
        <!-- end front card content -->
        
        <!-- back card content -->
        <section class="repositoryCard back">
              <p>{{project.description}}</p>
              
        </section>
        <!-- end back card content -->
    </div>
        </div>
      </div>
  </section>
</div>