<div ng-controller="WorkCtrl">
	<div class="container" style="margin-top:100px; background-color:white;">
		<h1>PROJECT 1</h1>
		<img class="img-responsive" src="http://kingofwallpapers.com/designer-wallpapers/designer-wallpapers-015.jpg">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<h2>HEADER</h2>
				<p>Vice blue bottle crucifix, snackwave typewriter butcher ugh cold-pressed mixtape drinking vinegar skateboard single-origin coffee green juice banh mi fam.  Single-origin coffee letterpress forage, yr brunch authentic selfies bitters.</p>
			</div>
			<div class="col-xs-12 col-md-6">
		<img class="img-responsive" src="https://image.freepik.com/free-vector/graphic-designer-workplace_23-2147517292.jpg">
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12 col-md-6">
		<img class="img-responsive" src="https://image.freepik.com/free-vector/graphic-designer-workplace_23-2147517292.jpg">
			</div>			
			<div class="col-xs-12 col-md-6">
				<h2>HEADER</h2>
				<p>Vice blue bottle crucifix, snackwave typewriter butcher ugh cold-pressed mixtape drinking vinegar skateboard single-origin coffee green juice banh mi fam.  Single-origin coffee letterpress forage, yr brunch authentic selfies bitters.</p>
			</div>

		</div>




	</div>
</div>
